In [ ]:
s = "Curiosity killed the cat."
print(s.split())

['Curiosity', 'killed', 'the', 'cat.']

**Split this string:**

s = "Curiosity killed the cat."

**into a list.**

['Curiosity', 'killed', 'the', 'cat.']

**Given the variables:**

    country = "Russia"
    population = 147

**Use .format() to print the following string:**

    The number of citizen in Russia is approximately 147 millions.

In [ ]:
print("The number of citizen in {country} is approximately {population} millions.".format(country="Russia", population=147))

The number of citizen in Russia is approximately 147 millions.

**Given this nested list, use indexing to get the word "hidden"**

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hidden']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hidden']],23,11],1,7]
lst [-3][-3][-1]

['hidden']

**Create a function that grabs the domain name from a string in the form:**

    nobody@sfedu.ru
    
**So for example, passing "nobody@sfedu.ru" would return: sfedu.ru**

In [ ]:
def domainGet(x):
    return(x.split('@')[1])

domainGet('nobody@sfedu.ru')

'sfedu.ru'

**Create a function that returns `True` if the word 'cat' (lowercase) is contained in the input string.**

In [ ]:
def find_cat (x):
  return ('cat' in x.lower())

In [ ]:
print(find_cat('fDog'))
print(find_cat('Black_dog.'))
print(find_cat('fCat'))

False
False
True

**Create a function that counts the number of times the word "cat" occurs in a string. You can use text without punctuation.**

In [ ]:
def count_cat (x):
  return(x.count('cat'))

In [ ]:
count_cat('Black cat runs faster than the white cat')

2

**Given a list `a`, containing integers, transform it to a new list `b`, containing all elements, that are lower, than 5.** Try to do it in one line, using the *list comprehension*. A list comprehension behaves like this: 

`[[output] for [item] in [list] if [filter]]`.

In [ ]:
a = [16, 3, 1, -3, 5, 8, 13, 21, 4, 55, 89]
b = [i for i in a if i < 5]
print (b)

[3, 1, -3, 4]

**Generate a string (password), containing 3 digits and 3 lower case letters in random order (the symbols need not be different).** Hint:
1. Import `random` and `string modules`.
2. Use `random.sample` to generate 3 digits from the string `string.digits` and write them to the list `password`.
3. Use `random.sample` to generate 3 letters from the string `string.ascii_lowercase` and extend the list `password`.
4. Shuffle `password` with `random.shuffle`.
5. Use `join` to convert `password` to a string.

In [ ]:
import random
import string
password = (random.sample(string.digits,3))
password += (random.sample(string.ascii_lowercase,3))
random.shuffle(password)
print(''.join(password))

c2p91r

**In one experiment 6-sided dice is rolled $r$ times.  Use `random.sample` to obtain the sum of points. Write the related function which has one keyword argument - the number of rolls: `def dice_sum(r=3)`.**

In [ ]:
import random
def dice_sum(r=3):
    sum = 0
    for i in range(r):
        point = random.sample([1,2,3,4,5,6],1)
        sum = sum + point [0]
    return sum

dice_sum()

14

In [ ]:
dice_sum(1000)

3589

**For $r=3$ let $s$ be the nuber of points in one experiment. Consider a very large number of experiments. Obtain the frequences of the events $s=11$ and $s=12$. Which value is larger?**

In [ ]:
n=100000
n_11=0
n_12=0
for i in range (n):
  a=dice_sum()
  if a==11:
    n_11=n_11+1
  if a==12:
    n_12=n_12+1
    
print('n_11={a:5.4f}; n_12={b:5.4f}'.format(a=n_11/n,b=n_12/n))

n_11=0.1233; n_12=0.1158

**Write the class point, which should have two attributes: x and y coordinates and two methods:** 
1. `move`, which get a tuple or a list $z$ and shifts the point: $(x,y)\mapsto (x,y)+(z[0],z[1])$. 
2. `distance`, which computes the Euclidian distance from the point $(x,y)$ to a given point $z=(z[0],z[1])$.
Make two instance of thic class, move one of them to $(3,4)$, and another to $(1,2)$ and compute the distance between them, using the methods `move` and `distance`.

In [ ]:
class point():
    def __init__(self):
        self.x = 0
        self.y = 0
        
    def move(self,z):
       self.x=self.x+z[0]
       self.y=self.y+z[1]
    
    def distance(self,z):
        return ((self.x-z[0])**2+(self.y-z[1])**2)**(1/2)

In [ ]:
Y=point()
Z=point()
Y.move([3,4])
Z.move([1,2])
import math
Y.distance([Z.x,Z.y])

2.8284271247461903